<nav class="navbar navbar-dark  ">
    <div class="container">
        <a class="navbar-brand" href="/blogs"><span class="short"><img class="logo" src="/css/images/IMG_1902.PNG" alt="Logo"></span><span class="logo-name">BLOG</span></a>
        <a class="a_nav" href="/blogs/new">
           <button class="button_nav">CREATE</button>

        </a>
    </div>
</nav>