<nav class="navbar navbar-dark  ">
    <div class="container">
        <a class="navbar-brand"><span class="short"><img class="logo" src="/css/images/IMG_1902.PNG" alt="Logo"></span><span class="logo-name">BLOG</span></a>
        
    </div>
</nav>