<% layout("layouts/boilerplate") %>
<div class="container_card">
    <div class="card">

<h1>Edit Blog</h1>

<form  class="form" action="/blogs/<%= blog._id %>?_method=PUT" method="POST">

  
        
        <input class="input"
            type="text"
            name="title"
            value="<%= blog.title %>"
        >
   

    <br><br>

  
       
        <textarea class="textarea"
            name="content"
           
        ><%= blog.content %></textarea>
   

    <br><br>

    <button class="button">Update Blog</button>

</form>
</div>
</div>