<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/landing.css">
</head>
<body>
   <% layout("layouts/landingnav") %>
   <div class="button-container">
   <a href="/login"> 
    <button class="button">Login</button>
    </a>

    
     <a href="/register"> 
    <button class="button">Register</button>
    </a>
</div>
<div class="hero-animation">
    <div class="div_write">
    <img class="hero_card write-card" src="/css/images/ChatGPT_Image_Jul_14__2026__12_06_53_PM-removebg-preview.png" alt="Logo">
    <img class="hero_card read-card" src="/css/images/ChatGPT_Image_Jul_14__2026__12_22_33_PM-removebg-preview.png" alt="Logo">
    <img class="hero_card engage-card" src="/css/images/ChatGPT_Image_Jul_14__2026__12_27_45_PM-removebg-preview.png" alt="Logo">
    

    </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.13.0/gsap.min.js"></script>
<script src="/css/js/landing.js"></script>
    
</body>
</html>