<% layout("layouts/boilerplate") %>


<div class="container_card">
<div class="card">  
   
<form class="form" action="/blogs/new/create" method="GET">
     <h1>Enter Your Name</h1>


    <input class="input"
        type="text"
        name="author"
        placeholder="Enter Your Name"
    >

   

    <button class="button">Continue</button>

</form>
</div>
</div>


    
