  <% layout("layouts/landingnav") %>

<div class="container_card">
<div class="card">  
<h1>Login</h1>

<form class="form"action="/login" method="POST">

  
        <label>Username</label>
        <input class="input"
            type="text"
            name="username"
            required
        >
   

    <br><br>

    
        <label>Password</label>
        <input
            type="password"
            name="password"
            required
        >
    

    <br><br>

    <button class="button_blog">Login</button>
</div>
</div>

</form>